Processing/Pipelines/pl_staging.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "ExcelSource",
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": false,
              "enablePartitionDiscovery": false
            }
          },
          "datasetSettings": {
            "type": "Excel",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": "Metadata",
                "fileName": "Orquestrador.xlsx"
              },
              "sheetName": "Staging",
              "firstRowAsHeader": true
            },
            "schema": [],
            "linkedService": {
              "name": "lh_bronze",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "2799b68e-4904-b9e3-4431-747b4287e462",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Orquestrador",
        "description": "Ler planilha excel com metadados com orquestração do pipeline",
        "dependsOn": []
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": {
              "value": "@activity('Orquestrador').output.firstRow.SourceQuery",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00",
            "datasetSettings": {
              "type": "SqlServerTable",
              "typeProperties": {
                "database": {
                  "value": "@activity('Orquestrador').output.firstRow.SourceDatabase",
                  "type": "Expression"
                }
              },
              "schema": [],
              "externalReferences": {
                "connection": "4e540fac-6dfc-4db6-87da-5b1739957ebd"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "ParquetSink",
            "formatSettings": {
              "type": "ParquetWriteSettings",
              "enableVertiParquet": false
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": {
                    "value": "@activity('Orquestrador').output.firstRow.TargetFolder",
                    "type": "Expression"
                  },
                  "fileName": {
                    "value": "@concat(\n    activity('Orquestrador').output.firstRow.TargetFile,\n    activity('Orquestrador').output.firstRow.TargetFormat\n)",
                    "type": "Expression"
                  }
                },
                "compressionCodec": "snappy"
              },
              "schema": [],
              "linkedService": {
                "name": "lh_bronze",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "171fd0c6-8801-4fbc-aa81-c969dc4d80ec",
                    "workspaceId": "51267455-e79f-4f83-a4a9-117ad1f1554b",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SQL para LH_legacy",
        "description": "Copiar do sql para o LH como arquivos",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@activity('Orquestrador').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "SqlServerSource",
                  "sqlReaderQuery": {
                    "value": "@item().SourceQuery",
                    "type": "Expression"
                  },
                  "partitionOption": "None",
                  "queryTimeout": "02:00:00",
                  "datasetSettings": {
                    "type": "SqlServerTable",
                    "typeProperties": {
                      "database": "AdventureWorksLT"
                    },
                    "schema": [],
                    "externalReferences": {
                      "connection": "04ee5ef8-2c8e-435a-970c-164db2e361ea"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "ParquetSink",
                  "formatSettings": {
                    "type": "ParquetWriteSettings",
                    "enableVertiParquet": false
                  },
                  "storeSettings": {
                    "type": "AzureBlobStorageWriteSettings"
                  },
                  "datasetSettings": {
                    "type": "Parquet",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": {
                          "value": "@item().TargetFolder",
                          "type": "Expression"
                        },
                        "fileName": {
                          "value": "@concat(\n    item().TargetFile,\n    item().TargetFormat\n)",
                          "type": "Expression"
                        }
                      },
                      "compressionCodec": "snappy"
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "lh_bronze",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "171fd0c6-8801-4fbc-aa81-c969dc4d80ec",
                          "workspaceId": "51267455-e79f-4f83-a4a9-117ad1f1554b",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.00:10:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "SQL para LH",
              "description": "Copiar do sql para o LH como arquivos",
              "dependsOn": []
            }
          ]
        },
        "name": "Iterador",
        "description": "Iterar as tabelas do SQL Server e direcionar para o copy data",
        "dependsOn": [
          {
            "activity": "Orquestrador",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}